<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">ClientApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!--  this can be improved a lot using the token management, Now i am using only statics -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="token">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/secure/products">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/secure/orders">Orders</a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container pt-5">
  <router-outlet></router-outlet>
</div>
